

#NavigationContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 78px;
  z-index: 99;
  border-bottom: black 1px solid;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, .5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-link {
  color: #D83731;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
  color: #D1C8B7;
  text-shadow: 2px 2px 4px #f1faee;
}


.navbar-toggler-icon {
  background-color: #f1faee;
}

.nav-link-text:hover {
  text-shadow: 2px 2px 4px #f1faee;
  display: inline-block;
  animation: navPulse 1.5s linear infinite;
}

.nav-link.active .nav-link-text {
  animation: none;
}

.navbar-collapse {
  max-height: calc(100vh - 78px);
  transition: max-height 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 78px;
  }
}

@keyframes navPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
