

#NavigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  position: fixed;
  /* top: 0; */
  /* top: 78px; */
  top: 75px;
  left: 0; /* Adjusted to the top left corner for mobile */
  z-index: 99;
  border-bottom: black 1px solid;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.nav-link {
  color: #D83731;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
  color: #D1C8B7;
  text-shadow: 2px 2px 4px #f1faee;
}


.navbar-toggler-icon {
  background-color: #f1faee;
}

.nav-link-text:hover {
  text-shadow: 2px 2px 4px #f1faee;
  display: inline-block;
  animation: navPulse 1.5s linear infinite;
}

.nav-link.active .nav-link-text {
  animation: none;
}

/* .navbar-collapse {
  max-height: calc(100vh - 78px);
  transition: max-height 0.3s ease-in-out;
}

.navbar-collapse.show {
  top: calc(70px - 27px);
} */

/* Set initial position of the dropdown menu */
.navbar-collapse {
  top: 70px; /* Initial position, same as your media query */
  transition: top 0.3s ease-in-out; /* Add a transition for smooth movement */
}

/* Adjust the top position of the dropdown menu when open */
.navbar-collapse.show {
  top: 43px; /* Final position, adjust as needed */
}


/* Remove the border around the burger icon */
.navbar-toggler {
  border: none;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#facebook-columnNav {
  display: none;
}

#facebook-columnNav {
  width: 30%;
  height: 30%;
}

#facebook-columnNav .icon {
  font-size: 35px;
}



@media (max-width: 768px) {
  #NavigationContainer {
    top: 70px; /* Adjusted to clear the header */
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 78px;
    background-color: #D1C8B7;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 4px 5px 3px rgba(0, 0, 0, 0.5);
    z-index: 97;
  }
  #facebook-columnNav {
    display: flex;
  }
}

@keyframes navPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
