#reviews {
  background-color: gray;
  border-radius: 10px;
}

.parallax-section {
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #333;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); */
}

.parallax-content {
  /* padding: 100px; */
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.welcomeparallax {
  background-image: url("images/Jade3Outside.jpg");

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 10px;

  margin-top: 120px;
}

.custom-carousel {
  max-width: 65%;
  position: relative;
  bottom: 50px;
  left: 2%;
}

.menu-container {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: flex-start;
}

.carousel-container {
  position: relative;
  margin-right: 20px;
}

.carousel-image {
  width: auto;
  border-radius: 10px;
}

.left-button {
  position: absolute;
  height: 80%;
  border: none;
  background-color: transparent;
  color: transparent;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 2;
  transition: background-color 0.2s ease;
}

.right-button {
  position: absolute;
  height: 80%;
  border: none;
  background-color: transparent;
  color: transparent;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  z-index: 2;
  transition: background-color 0.2s ease;
}


.left-button:hover,
.right-button:hover {
  background-color: rgba(216, 55, 48, 0.5);
  border-radius: 10px;
}

.control-dots {
  display: none;
}