#reviews{
    background-color: gray;
    border-radius: 10px;
}

  .parallax-section {
  min-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #333;
}

.parallax-content {
  /* padding: 100px; */
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.welcomeparallax {
    background-image: url('../../../public/images/DSC04156.JPG');
  
    height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hide {
    z-index: -200;
  }
  