
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D1C8B7;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    height: 78px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  
  .header-title {
    margin: 0;
    color: #457b9d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    left: -100px;
    /* cursor: pointer; */
    /**/
  }

  #headerLogo {
    position: relative;
    top: 4px;
    height: 6rem;
  }

  .header-title {
  animation: titleMove 4s linear infinite;
  }

  .icon {
    font-size: 2.5rem;
}

#orderOnline{
  height: 2.5rem;
  margin: 0 auto;
  position: relative;
  left: 8px;
}



.social-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 10rem;
  margin-right: 1rem; */
  max-width: 250px;
}
  

  @keyframes titleMove {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(8px);
    }
  }

  /* @media (max-width: 768px) {
    .header-title {
      text-align: left;
    }
  
    #orderOnline {
      text-align: right;
    }
  } */

  @media (max-width: 768px) {
    .header-title{
      animation: none;
    } 

    #facebook-columnHeader {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .header-title{
      margin-left: -300px;
    }
  }

  /* ipad air */
  @media screen and (min-width: 820px) {
    .header-title{
      margin-left: -125px;
    }
  }

  /* ipad mini */
  @media screen and (min-width: 768px) {
    .header-title{
      margin-left: 75px;
    }
  }

/* surface duo */
@media screen and (min-width: 540px) {
  .header-title{
    margin-left: 75px;
  }
}

/* galaxy fold */
@media screen and (min-width: 280px) {
  .header-title{
    margin-left: 75px;
  }
  #orderOnline{
    left: 0px;
  }
} 

/* samsung galaxy a51/71 */
@media screen and (min-width: 360px) {
  .header-title{
    margin-left: 75px;
  }
  #orderOnline{
    left: 30px;
  }
}
  
/* nest hub */
@media screen and (min-width: 480px) {
  .header-title{
    margin-left: 25px;
  }
  #orderOnline{
    left: 12px;
  }
}
  