/* display: flex; */
/* footer {
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D1C8B7;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  } */


  .footer {
    text-align: center; /* Center the contents horizontally */
    padding: 10px;
    width: 100%;
    background-color: #D1C8B7;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1); /* Negative value for the shadow to appear at the top */
    position: fixed; /* Fixed positioning to stick at the bottom */
    bottom: 0;
    left: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  